@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Laboratory</h2>
        <p>
            This is a list of client-side and server-side technologies that I am exploring.
        </p>

        <h3>Technologies:</h3>
        <ul>
            <li><a href="@Url.Action("Index", "MassTransit")">Broker Messaging MassTransit and RabbitMQ</a></li>
            <li><a href="@Url.Action("Index", "SignalRTest")">SignalR Test</a></li>
            <li><a href="@Url.Action("Index", "Redis")">Redis Session State Provider Test</a></li>
            <li><a href="@Url.Action("Index", "Angular")">Angular 2.0</a></li>
            <li><a href="@Url.Action("Index", "TypeScript")">TypeScript</a></li>
            <li><a href="@Url.Action("Index", "React")">React JS</a></li>
            <li>Knockout JS</li>
            <li>Underscore</li>
        </ul>

        <p>
            <a href="@Url.Action("Index","Library")">This page lists the libraries which I am using in Production projects.</a>
        </p>
    </div>
</div>